<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blood Donor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AE3D4A71D6E03D7008556CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AE3D4BE1D6E03D7008556CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AE3D4C91D6E03D7008556CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
